<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
    <link rel="icon" type="image/png" href="/static/image/logo.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{ .Artist.Name }} - Group Tracker</title>
</head>
<body class="page">
    <header class="site-header">
        <div class="header-content">
            <div class="header-logo">
                <img src="/static/image/logo.png" alt="Logo Group Tracker" class="logo">
                <a href="/"  class="nav-link">Group Tracker</a>
            </div >
            <form method="GET" action="/search" class="search-form" style= "margin:0; ">
                <input type="text" name="name" placeholder="Search: Name,Genre,Location,Type(solo/group)" class="search-input">
                <button type="submit" class="search-button">Search</button>
            </form>
            <nav class="header-nav">
                <a href="/" class="nav-link">Home</a>
                <a href="/search" class="nav-link">Search</a>
                <a href="/about" class="nav-link">About</a>
            </nav>
        </div>
    </header>

    <div class="container">
        <main class="content">
            <div class="page-header">
                <h1>{{ .Artist.Name }}</h1>
            </div>

            <div class="artist-detail">
                <div class="artist-detail-main">
                    <img src="{{ .Artist.Image }}" alt="{{ .Artist.Name }}" class="artist-detail-image">
                    <div class="artist-detail-info">
                        <div class="info-section">
                            <h3>General Information</h3>
                            <p><strong>Creation Year:</strong> {{ .Artist.CreationDate }}</p>
                            <p><strong>First Album:</strong> {{ .Artist.FirstAlbum }}</p>
                        </div>

                        <div class="info-section">
                            <h3>Members</h3>
                            <ul class="info-list">
                                {{ range .Artist.Members }}
                                <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>

                {{if .Markers}}
                <div class="info-section">
                    <h3>Concert Map Locations</h3>
                    <div id="map" style="height: 500px; width: 100%;"></div>
                </div>
                {{ end }}

                {{ if .Locations }}
                <div class="info-section">
                    <h3>Concert Locations</h3>
                    <ul class="info-list">
                        {{ range .Locations }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}

                {{ if .Dates }}
                <div class="info-section">
                    <h3>Concert Dates</h3>
                    <ul class="info-list">
                        {{ range .Dates }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}

                {{ if .Relations }}
                <div class="info-section">
                    <h3>Relations (Dates and Locations)</h3>
                    <div class="relations-container">
                        {{ range $location, $dates := .Relations }}
                        <div class="relation-item">
                            <h4>{{ $location }}</h4>
                            <ul class="relation-dates">
                                {{ range $dates }}
                                <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
        </main>
        <footer class="site-footer">
            <p>&copy; 2025 Group Tracker. All rights reserved.</p>
        </footer>
    </div>

    {{if .Markers}}
    <script>
        var map = L.map('map').setView([20,0], 2);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 19,
        }).addTo(map);

        var markers = [];

        {{range .Markers}}
        {{if ne .Coordinates.Lat 0.0}}
        {{if ne .Coordinates.Long 0.0}}
        var marker = L.marker([{{.Coordinates.Lat}}, {{.Coordinates.Long}}]).addTo(map);
        marker.bindPopup("<b>{{.Name}}</b>");
        markers.push(marker);
        {{end}}
        {{end}}
        {{end}}

        if (markers.length > 0) {
            var group = new L.featureGroup(markers);
            map.fitBounds(group.getBounds().pad(0.1));
        }
    </script>
    {{end}}

</body>
</html>

