
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/image/logo.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Groupie Tracker</title>
</head>
<body class="page">
    <div class="containeer">
<!-- Haut de la page "nav barre" -->
        <header class="site-header">
            <nav class="main-nav" style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                <a href="/" style="display: flex; align-items: center;">
                    <img src="/static/image/logo.png" alt="Logo Groupie Tracker" class="logo" style="height: 48px; width: auto;">
                </a>
                <div>
                    <form action="/artists" method="get" style="display: flex; align-items: center; gap: 8px;">
                            <input type="text" name="query" placeholder="Rechercher un artiste..." style="padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
                    </form>
                </div>
                <div style="display:flex; align-items:center; gap:24px;">
                    <svg width="40" height="40" viewBox="0 0 50 50" fill="none" aria-hidden="true"></svg>
                    <ul style="display:flex; gap:16px; list-style:none; margin:0; padding:0;">
                        <li><a href="/artists">Artistes</a></li>
                        <li><a href="">À propos</a></li>
                    </ul>
                </div>
            </nav>
        </header>
<!-- Contenue de la page -->
        <main class="content">
            <h1 style="font-size: 4em">The Groupie Tracker</h1>   
            <section>
                <h2>Liste des artistes</h2>
                <div>Total des artistes trouvés: {{len .Artists}}</div>
                <ul class=container>
                    {{range .Artists}}
                    <li class="Artist-container">
                            <img src="{{.Image}}" alt="{{.Name}}" style="border-radius:6px; object-fit:cover;width:60%;margin-top: 5%;">
                            <a href="/artists?query={{.Name}}" style="color:inherit; text-decoration:none; color: #265093;">{{.Name}}</a>
                            <h6 style="margin:  10px;"> Membres:</h6>
                            <div style="display:flex; flex-direction:column; gap:4px; align-items: flex-start;">
                                {{range .Members}}
                                    <span >{{.}}</span>
                                {{end}} 
                            </div>
                    </li>
                    {{else}}
                    <li>Aucun artiste trouvé.</li>
                    {{end}}
                </ul>
            </section>
        </main>
<!-- Bas de page -->
        <footer class="site-footer">
            <p>&copy; 2025 Groupie Tracker. Tous droits réservés.</p>
        </footer>
    </div>
</body>
</html>